body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.nav {
    padding: 1em;
    border: 1px solid black;
    flex-grow: 1;
}

.buttons-container {
    margin: 1em;
}

.buttons-container .new-grid-button, .clear-grid-button {
    border: 1px solid black;
    padding: 1em;
}

.buttons-container .new-grid-button:hover, .clear-grid-button:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px 1px black;
    font-weight: bold;
    cursor: pointer;
}
